{% load i18n %}

<div id="contribute" class="container">
<p class="menu-item-horizontal-text">{% trans "Contribute" %}</p>
<div class="row">
    <a href="/dashboard/">
        <div class="col-md-4 slideanim">
            <div class="contribute-thumbnail propose-thumbnail"></div>
            <h2>{% trans "Propose a topic" %}</h2>
            <p>{% trans "Propose a topic that you find interesting in your community." %}</p>
        </div>
    </a>
    <a href="/issue/2/">
        <div class="col-md-4 slideanim">
            <div class="contribute-thumbnail discuss-thumbnail"></div>
            <h2>{% trans "Work with the crowd" %}</h2>
            <p>{% trans "Join topics proposed by others and discuss." %}</p>
       </div>
    </a>
    <a href="/#current_issue">
        <div class="col-md-4 slideanim">
            <div class="contribute-thumbnail publish-thumbnail"></div>
            <h2>{% trans "Publish" %}</h2>
            <p>{% trans "After opinions and articles are chosen, our team will publish your topic." %}</p>
        </div>
    </a>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button">{% trans "Contribute" %}</button>
      </span>
    </div>
    </div>
</div>
</div>
