{% load i18n %}

<div id="contribute" class="container">
<p class="menu-item-horizontal-text">{% trans "Contribute" %}</p>
<div class="row">
        <div class="col-md-3 slideanim">
          <div class="contribute-thumbnail"></div>
          <h2>{% trans "Propose an issue" %}</h2>
          <p>{% trans "Propose an issue that you find interesting in your community" %}</p>
        </div>
        <div class="col-md-3 slideanim">
          <div class="contribute-thumbnail"></div>
          <h2>{% trans "Discuss" %}</h2>
          <p>{% trans "Join issues proposed by others and discuss your proposed issues" %}</p>
       </div>
        <div class="col-md-3 slideanim">
          <div class="contribute-thumbnail"></div>
          <h2>{% trans "Vote" %}</h2>
          <p>{% trans "Vote for your prefer Opinions and Articles!" %}</p>
        </div>
        <div class="col-md-3 slideanim">
          <div class="contribute-thumbnail"></div>
          <h2>{% trans "Publish" %}</h2>
          <p>{% trans "After Opinions and Articles are choosen, or team will publish the fresh issue!" %}</p>
        </div>
      </div> 
</div>