{% load i18n %}

<div id="current_issue" class="container">
    <p class="menu-item-horizontal-text">{% trans "Current issue" %}</p>
    <div class="row text-center">
        <div class="col-sm-12">
            <!-- 		Display introduction, have placeholder if not existing -->
            <div class="col-sm-12">
                <a href="{% url 'introduction_view' issue.id issue.introduction_set.all.0.id %}">
                    <div class="panel panel-default h_form_hover">
                        <div class="panel-body panel-content">
                            <h2>{{ issue_title }}</h2>
                            <h3>{% trans "Introduction" %}</h3>
                            <!-- 				  {% if issue.introduction_set.all.0.writer_name %} -->
                            <!-- 				  <h3>{{ issue.introduction_set.all.0.writer_name }}</h3> -->
                            <!-- 				  <div class="flag-{{issue.introduction_set.all.0.country}}"></div> -->
                            {% else %}
                            <h5>{% trans "Write an introduction here." %}</h5>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="current_issue_chat" class="container">
    <div class="row">
        <div class="col-sm-12">
            {% include "magazine/chat.html" %}
        </div>

    </div>
</div>

