{% load i18n %}

<div id="contribute" class="container">
<p class="menu-item-horizontal-text">{% trans "Our issues" %}</p>

<div class="container text-center">    
  <div class="row">
	<div class="col-sm-12">
		<h3>{% trans "Prissons" %}</h3>
        <div class="col-sm-3">
          <div class="panel panel-default h_form_hover">
          <div class="panel-body">
		  <h3>A society in which there is no order is in danger to drift into chaos and violence. 
	       </h3>
	       </div>
          <div class="header">
	      <div class="panel-footer">
	      
	      	<h3>Each country or society itself defines a crime, what are the consequences of a crime ...</h3>
	       </div>
	       </div>
          </div>
        </div>
        
                <div class="col-sm-3">
          <div class="panel panel-default h_form_hover">
          <div class="panel-body">
		  <h3>Between the World Wars there was a large number of prisoners in Finland compared to the rest of Europe ...
	       </h3>
	       </div>
          <div class="header">
	      <div class="panel-footer">
	      
	      	<h3>and a considerably larger number than in the other Northern European countries. After the war ...</h3>
	       </div>
	       </div>
          </div>
        </div>
        
                <div class="col-sm-3">
          <div class="panel panel-default h_form_hover">
          <div class="panel-body">
		  <h3>The basis for the imprisonment is only the loss of freedom.
	       </h3>
	       </div>
          <div class="header">
	      <div class="panel-footer">
	      
	      	<h3>The function of the prison is to offer conditions for the prisoner to educate him or herself ...</h3>
	       </div>
	       </div>
          </div>
        </div>
        
                <div class="col-sm-3">
          <div class="panel panel-default h_form_hover">
          <div class="panel-body">
		  <h3>It is clear that there are individuals among the prisoners that can't and won't stop committing crimes.
	       </h3>
	       </div>
          <div class="header">
	      <div class="panel-footer">
	      
	      	<h3>In these cases the protective function of the imprisonment is emphasized. ...</h3>
	       </div>
	       </div>
          </div>
        </div>
      
    </div>
  </div>
</div>

</div>
