{% load i18n %}

<div id="contribute" class="container">
<p class="menu-item-horizontal-text">{% trans "Our issues" %}</p>

<div class="container text-center">
	<div class="row">
		<div class="col-sm-12">
		        <div class="col-sm-12">
		          <div class="panel panel-default h_form_hover">
		          <div class="panel-body panel-content">
				  <h2>PRISONS</h2>
				  <h3>Anna-Julia Saiger</h3>
				  <div class="flag-de"></div>
			       </div>
		          <div class="header">
			      <div class="panel-footer">
			      	<h4>Someone behaves wrongly, breaks a law, harms others, causes them pain. Commits a crime, doesn’t
respect the property and integrity of someone else. Steals, evades taxes, gets in a fight. Challenges
the rules. How should we react to this? Who decides? Who implements the decision? How? Who
controls how the decision is implemented? Should someone be punished? And if so, how is this
punishment legitimate? How is the punished person treated? [...]</h4>
			       </div>
			       </div>
		          </div>
		        </div>
	        </div>
	</div>
  <div class="row">
	<div class="col-sm-12">
	{% for article in issue.article_set.all %}
        <div class="col-md-15 col-sm-3">
          <div class="panel panel-default h_form_hover">
          <div class="panel-body panel-content">
		  <h3>{{article.publisher_name }}</h3>
		  <h4>{{article.publisher_description }}</h4>
		  <div class="flag-it"></div>
	       </div>
          <div class="header">
	      <div class="panel-footer">
	      
	      	<h3>{{article.content}}</h3>
	       </div>
	       </div>
          </div>
        </div>
        {% endfor %}
        
                <div class="col-md-15 col-sm-3">
          <div class="panel panel-default h_form_hover">
          <div class="panel-body panel-content">
		  <h3>Tuomo Junkkari</h3>
		  <h4>Prison Director</h4>
		  <div class="flag-fi"></div>
	       </div>
          <div class="header">
	      <div class="panel-footer">
	      
	      	<h4>A society in which there is no order is in danger to drift into chaos and violence. [...]</h4>
	       </div>
	       </div>
          </div>
        </div>
        
                <div class="col-md-15 col-sm-3">
          <div class="panel panel-default h_form_hover">
          <div class="panel-body panel-free">
		  <h3>Write your contribution here.
	       </h3>
	       </div>
          </div>
        </div>
        
                <div class="col-md-15 col-sm-3">
          <div class="panel panel-default h_form_hover">
          <div class="panel-body panel-free">
		  <h3>Write your contribution here.
	       </h3>
	       </div>
          </div>
        </div>
        
                        <div class="col-md-15 col-sm-3">
          <div class="panel panel-default h_form_hover">
          <div class="panel-body panel-free">
		  <h3>Write your contribution here.
	       </h3>
	       </div>
          </div>
        </div>
      
    </div>
  </div>
</div>

</div>
