{% extends "magazine/layout.html" %}
{% block content %}

<div id="article" class="container-fluid jumbotron home-issue">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        {% comment "truncate string to display article preview" %}{% endcomment %}
        <p> {{ issue.article_set.all.0.content|truncatewords:100 }} ... </p>
        </div>
    </div>
    <div class="read-more">
        <button type="button" class="btn sprite readMoreGray" data-toggle="modal" data-target="#opinionModal"></button>
        <h5>read more</h5>
    </div>
</div>

<div id="opinions" class="container-fluid">
    {% for  opinion in issue.opinion_set.all %}
    	<div class="col-md-15 col-sm-3">
        <p class="home-page">{{opinion.content|truncatewords:100 }} ...</p>
        <div class="read-more">
        <button type="button" class="btn sprite readMore" data-toggle="modal" data-target="#opinionModal"></button>
        <h5>read more</h5>
        </div>
    </div>
    {% endfor %}
    
</div>

{% endblock %}