{% load static from staticfiles %}
{% load i18n %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="no-index no-follow">

    <title>Odisseia</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
   
    <link rel="shortcut icon" href= "{% static 'img/favicon.ico' %}" type="image/x-icon"/>
</head>

<body id="myPage">
    <header>
    	<div class='mobile-hide'>
        	<a href="/"><div class='logo sprite headerLogo'></div></a>
        </div>
    {% include "magazine/menu.html" with user=user %}
    </header>
	{% block content %} {% endblock %}

{% include "magazine/footer.html" %}
</body>
</html>