{% load i18n %}

<div id="statut" class="container-fluid">

    <div class="col-md-2">
        <p class="menu-item-vertical-text">{% trans "Statut" %}</p>
    </div>
   
    <div class="col-md-2">
        <p>{% blocktrans %}
       In Anbetracht der vielfältigen 
Krisen, die diesen Kontinent derzeit 
kennzeichnen, und der Notwendigkeit 
neue Handlungsmöglichkeiten zu 
denken, fühlen wir uns in der Verantwortung. Wir wollen unser Potential – 
Kontakte über Ländergrenzen hinaus, 
Lust am Schreiben und an der produktiven Auseinandersetzung – einsetzen, um ein europäisches Magazin zu 
gründen. Hiermit wollen wir zu einer 
europäische Öffentlichkeit beitragen. 
Dabei setzen wir uns folgende Ziele:
Europa und der Welt die Möglichkeit der Utopie zurückgeben
Wir möchten, dass ein echtes Ringen 
um die kosmopolitische Idee stattfindet. Die Irrfahrt des Odysseus, des 
ersten modernen europäischen Menschen, der über sein eigenes Geschick 
herrschte, der „vieler Menschen Städte 
gesehn, und Sitte gelernt hat [...], 
seine Seele zu retten und seiner Fre
{% endblocktrans %}
	</p>
    </div>
    
        <div class="col-md-2">
        <p>{% blocktrans %}
unde Zurückkunft“1, soll uns dabei 
vor Augen sein.
Eine Stimme geben, Gehör finden und 
eine Stimme sein 
Das Magazin soll eine Stimme aus 
vielen, auch divergierenden Stimmen 
sein. Weltpolitische Themen sollen 
erörtert und gelesen werden. In Form 
einer Hand voll (fünf) aufgenommener 
Beiträge sollen Anreize zu weiterführendem Handeln gegeben werden. 
Jede mögliche Meinung kann ihren 
Platz finden. Eine Grenze soll nur 
dort gezogen werden, wo grundsätzliche menschenrechtlich geschützte 
Werte durch einen Beitrag verletzt 
werden.
Ein Themenkomplex entspricht einer 
Ausgabe des Magazins. Am Anfang 
jeder Ausgabe wird eine neutrale Einführung in das Thema stehen. Damit 
wollen wir die Verbindung von neutralem Bericht, Meinung und Aufruf 
{% endblocktrans %}
	</p>
    </div>
    
        <div class="col-md-2">
        <p>{% blocktrans %}
aufbrechen, um Haltungen in ihrer 
Vielfalt als solche erkennbar, diskutierbar und kritisierbar zu machen.
Manifestation, Meinung, Handlung 
Wir sind auf der Suche nach einer 
Form, in der gesellschaftliche Beteiligung in unserer Zeit stattfinden kann. 
Ihren Beginn soll diese im virtuellen 
Raum nehmen und von dort aus weiter 
Früchte tragen.
Wir wollen positives Handeln ermöglichen, um destruktive Kritik zu ersetzen: Missstände, Divergenzen und 
Ungleichheiten, aber auch Erstaunliches und gute Entwicklungen sollen 
aufgezeigt, konkrete Alternativen und 
Handlungen auch von unerwarteter 
Seite gefunden werden. Wir wollen 
eine neue Form des positiven und 
performativen Journalismus begründen.
Verbindung der Gesellschaften und 
{% endblocktrans %}
	</p>
    </div>
    
        <div class="col-md-2">
        <p>{% blocktrans %}
der Sprachen 
„Die Grenzen meiner Sprache bedeuten die Grenzen meiner Welt“2: Wir 
fordern und fördern einen Diskurs, 
der gesellschaftliche Schichten und 
Milieus durchdringt und verbindet, 
sprachliche Barrieren überwindet. Wir 
wollen einen Ort für diesen Austausch 
bereitstellen und die Übersetzungsarbeit koordinieren, um den Gesellschaften in ihrer sprachlichen 
Vielfalt gerecht zu werden.
+
Kritik an der Kritik
Möglich sein soll und muss die Kritik 
an der Kritik. Wir wollen der Zweifler 
sein, der das Werk aller Tage 
betrachtet.3 Deshalb wollen und 
müssen wir auch selbst hinterfragt 
werden und fordern dazu auf, zu hinterfragen
{% endblocktrans %}
	</p>
    </div>

</div>