{% load i18n %}

<div  id="statut" >
	<div class="container">
	<div class="row">
	<p class="menu-item-horizontal-text">{% trans "Statue" %}</p>
	        <div class="col-md-3 slideanim">
	        {% blocktrans %}
	          <h2>To give Europe back the chance of utopia</h2>
	          <p>
			  We want the cosmopolitan idea to be striven for. We should bear in mind the odyssey of Odysseus, the first modern European, who ruled his own fate, who <mark>‘saw the cities of many peoples and […] learnt their ways, […] to preserve his life and bring his comrades home’.*</mark>
			  </p>
			  <small><em>* 1 Homer, Odyssey, Book I, Lines 3-5.</em></small>
				{% endblocktrans %}
	        </div>
	        <div class="col-md-3 slideanim">
	        {% blocktrans %}	        
	        <h2>To give a voice, to be heard, to be a voice</h2>
	          <p>
				The magazine is to be a voice of many, indeed diverging, voices. European topics will be discussed and read. <mark>A handful of (five) submitted contributions should stimulate further action.</mark> Every possible opinion can find its place. A line will only be drawn if a contribution infringes fundamental values enshrined in human rights.
				Each edition of the magazine will have a theme. At the beginning of each edition, a neutral introduction to the topic will be given. With this, we want to prise open the connection between neutral reporting, opinion and personal appeals, in order to make positions in their diversity recognisable as such, open to debate, and open to criticism.
				</p>
				{% endblocktrans %}
	       </div>
	        <div class="col-md-3 slideanim">
	        {% blocktrans %}
	        <h2>Manifestation, opinion, action</h2>
	          <p>
We are looking for a form where societal involvement in our time can take place. This will begin in the virtual sphere, and from that starting point, will bear further fruit.
We want to facilitate positive action in order to displace destructive criticism. Shortcomings, divergences and inequalities, as well as amazing things and positive developments should be illustrated, and concrete alternatives and actions – even unexpected ones – should be found. <mark>We want to found a new form of positive and performative journalism.</mark>
				{% endblocktrans %}
				</p>
	        </div>
	        <div class="col-md-3 slideanim">
	        {% blocktrans %}
	        <h2>Connection of societies and languages</h2>
	          <p>
			  <mark>‘The limits of my language mean the limits of my world.’*</mark> We call for, and encourage, a discourse which cuts through and connects social classes and milieus and overcomes linguistic barriers. We want to provide a space for this exchange and coordinate translation work in order to do justice to European communities in their linguistic diversity.			  
				</p>
				<small><em>* Ludwig Wittgenstein, Tractatus logico-philosophicus, 1922, sentence 5.6.</em></small>
				<h2>Critiquing criticism</h2>
				<p>
				Critiquing criticism should and must be possible. <mark>We want to be the doubter who considers the acts of every day.*</mark> We should and must, therefore, be challenged ourselves, and call upon others to challenge.
				</p>
				<small><em>* 3 In reference to Bertolt Brecht, The doubter.</em></small>
				{% endblocktrans %}
	        </div>
	      </div> 
	</div>
</div>
