{% extends "magazine/layout.html" %}
{% load i18n %}
{% block content %}

<div class="welcomeimage">
<div class="mobile-hide">
<h2>
<span>{% trans "#Democracy" %}
<span class='spacer'></span><br />

</h2>
</div>
<div class="mobile-show">
<h2>
<span>{% trans "We want to use our potential to found a European magazine." %}
<span class='spacer'></span><br />
</h2>
</div>
<span class="photo-rights"><a href="http://www.fabiopennacchia.com">© Fabio Pennacchia</a></span>
</div>

{% include "magazine/contribute.html" %}
{% include "magazine/current_issue.html" with issue=issue articles=articles none_articles=none_articles%}




<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $("a[href='/#opinion'], a[href='/#contribute'], a[href='/#statut'], footer a[href='#myPage']").on('click', function(event) {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){
   
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    });
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
{% endblock %}
