{% extends "magazine/layout.html" %}
{% load i18n %}
{% block content %}

<div  class="jumbotron welcomeimage">

</div>

<div class="container">
<div class="row">
<h1 class="display-3">Contribute!</h1>
        <div class="col-md-4">
          <div class="contribute-propose"></div>
          <h2>Propose an issue</h2>
          <p>Propose an issue that you find interesting in your community.
          Image taken from: http://www.flaticon.com/packs/lamp-indicators</p>
        </div>
        <div class="col-md-4">
          <div class="contribute-discuss"></div>
          <h2>Discuss</h2>
          <p>Discuss other's and your issue. Join issues and discuss your own issues
          Image taken from: http://www.flaticon.com/packs/lamp-indicators
          </p>
       </div>
        <div class="col-md-4">
          <div class="contribute-vote"></div>
          <h2>Vote</h2>
          <p>Vote for your prefer Opinions and Articles!
          Image taken from: http://www.flaticon.com/packs/lamp-indicators
          </p>
        </div>
      </div> 
</div>

<div id="statut" class="container-fluid">
    <div class="col-md-2">
        <p class="menu-item-vertical-text">Statut</p>
    </div>
    
    {% comment "TODO Change parameter in loop" %}{% endcomment %}
     {% for stat in issue.opinion_set.all %}
    <div class="col-md-2">
        <p>Ed ut perspiciatis unde omnis iste
		natus error sit voluptatem accusantium doloremque laudantium, totam
		rem aperiam, eaque ipsa quae ab illo
		inventore veritatis et quasi architecto
		beatae vitae dicta sunt explicabo.
		Nemo enim ipsam voluptatem quia
		voluptas sit aspernatur aut odit aut
		fugit, sed quia consequuntur magni
		dolores eos qui ratione voluptatem
		sequi nesciunt.
		Neque porro quisquam est,
		qui dolorem ipsum quia dolor sit
		amet, consectetur, adipisci velit, sed
		quia non numquam eius modi tempora
		incidunt ut labore et dolore magnam
		aliquam quaerat voluptatem. Ut enim
		ad minima veniam, quis nostrum
		exercitationem ullam corporis suscipit</p>
    </div>
    {% endfor %}
</div>

{% endblock %}