{% extends "magazine/layout.html" %}
{% load i18n %}
{% block content %}
<div class="form-signin home-issue">
<h2>Sign up</h2>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}	
<form action="." method="post">{% csrf_token %}
    <div class="form-group">
    {{ form.email }}
    </div>
    <div class="form-group">
        {{ form.password }}
    </div>
    <div class="form-group">
        {{ form.password_repeat }}
    </div>
    
    <div class="form-group">
		<label>{% trans "Translate:" %}</label>
		</div>
    <div class="container-fluid languages-box">
		
	<div class="col-md-6">
    	<div>
    	<label>{% trans "From"  %}</label>
    	</div>
        <select multiple name="languages_from[]" required>
            {% for language in languages %}
            <option value="{{language.iso1_code}}">{{language.name}}</option>
            {% endfor %}
        </select>
    </div>
	<div class="col-md-6">
        <div>
		<label>{% trans "To" %}</label>
		</div>
        <select multiple name="languages_to[]" required>
            {% for language in languages %}
            <option value="{{language.iso1_code}}">{{language.name}}</option>
            {% endfor %}
        </select>
    </div>
    </div>
    <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign up" %}</button>
    </div>
</form>
</div>
{% endblock %}