<div class="chat_window">
    <a style="margin-top:15px;" class="btn btn-info" onclick="showDiv()">Join the Conversation</a>
    <div style="display:none;" id="welcomeDiv">
    <ul  class="messages"></ul>
    <div class="bottom_wrapper clearfix">
        <div class="">
            <a class="btn btn-info" href="/en/#current_issue">Publish</a>
        </div>
    </div>
        </div>
</div>
<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>
<script>

function showDiv() {
   document.getElementById('welcomeDiv').style.display = "block";
}
</script>