{% extends "magazine/layout.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <h2>{{ issue.title }}</h2>
        {% if is_contributor = False %}
      		<a class="btn btn-info" href="{% url 'join_issue_view' issue.id %}">{% trans "Join the team!" %}</a>
      	{% else %}
      		<p>{% trans "You are already part of this issue!" %}</p>
      	{% endif %}
        <p><span class="label label-success">{% trans "Created at" %} {{issue.created_at|date:"M d'y "}}</span></p>
      </div>
      <div class="well">
        <p>{% trans "Contributors: " %} {{ issue.issue_users.count }}</p>
        <p>
        </p>
      </div>
    </div>
    <div class="col-sm-7">
	<div class="row">
	{% if is_contributor = True %}
	  {% if not comments %}
	  	<h3>{% trans "Be the first one to write an opinion about it!" %}</h3>
	  {% endif %}
	  
	  <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">
            	<form action="." method="post">{% csrf_token %}
      			{{ form }}
      			<div>
        			<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Submit comment" %}</button>
    			</div>
      			</form>  
            </div>
          </div>
        </div>
       </div>
       
       {% endif %}
	  
      {% for comment in comments %}
        <div class="col-sm-12">
          <div class="panel panel-default">
	          <div class="panel-heading">{{comment.created_at}}</div>
	          <p>{{comment.content}}</p>
          </div>
        </div>
      {% endfor %}

      </div>
      
    </div>
    <div class="col-sm-2 well">
      <div class="well">
        <p>{% trans "Opinions" %}</p>
      </div>      
      <div class="well">
        <p>{% trans "Articles" %}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}