* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

a {
    color: #3c4ba7;
}

p {
    line-height: 2em;
}

.breadcrumb {
	background-color: transparent;
	padding: 8px 40px;
}

mark {
	background: #3c4ba7;
	color: white;
}

/* body > header { */
/*     padding-top: 20px; */
/*     text-align: center; */
/* } */

body {
	font-family: "TabletGothic","Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif;
	font-size: 17px;
}
body > header .logo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/* Menu behaviour */
  .navbar li a, .navbar .navbar-brand {
      color: !important;
  }
  
  .navbar-default {
  	background-color: white !important;
    border-color: white;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #3c4ba7 !important;
      background-color: #e7e7e7 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
      margin-top: 25px;
      padding: 0;
  }
  
 
/*Mobile View*/

.mobile-show { display: none;}
.mobile-hide { display: block;}

@media only screen and (max-width: 28.75em) {
	.mobile-show { display: block;}
    .mobile-hide { display: none;}
}
   

.welcomeimage {
	background-image: url('../img/backgroundImage.jpg') ; 
    margin-right: -15px;
    margin-left: -15px;  
    padding-bottom: 62.5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 479px;
}

.welcomeimage h2 { 
   color: white; 
   font: bold 30px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 50px; 
   paddin-top: 40px;
   text-align: justify;
}

.welcomeimage h2 span.spacer {
   padding:10 5px;
}

.welcomeimage a {
	color: white !important;
}



.contribute-thumbnail {
    margin-right: -15px; 
    margin-left: 55px;  
    padding-bottom: 62.5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.contribute-thumbnail {
	width: 100%;
	background-image: url('../img/contribute-thumbnail.png') ; 
}

.propose-thumbnail {
	width: 60%;
	background-image: url('../img/propose-thumbnail.png') ; 
}

.discuss-thumbnail {
	width: 70%;
	background-image: url('../img/discuss-thumbnail.png') ; 
}

.vote-thumbnail {
	width: 60%;
	background-image: url('../img/vote-thumbnail.png') ; 
}

.publish-thumbnail {
	width: 70%;
	background-image: url('../img/publish-thumbnail.png') ; 
}

  
/* Navigation Homepage */
/* body > header .navbar-header { */
/*     float: left; */
/*     padding: 15px; */
/*     text-align: left; */
/*     width: 100%; */
/* } */
/* body > header .navbar-nav { */
/*     float: none; */
/*     margin: 0 auto; */
/*     display: table; */
/*     table-layout: fixed; */
/* } */
/* body > header .navbar-nav a { */
/*     color: #000; */
/* } */

/* style issues homepage */
.home-issue {
    color: #3c4ba7;
    background: #eee;
}
.home-issue p {
    line-height: 1.5em;
}

.home-page::first-letter, .modal-opinion::first-letter {
  font-size: 300%;
    font-weight: bold;
    text-transform: capitalize;
    color: #3c4ba7;
}

/* Vertical Menu Item text for Homepage */
.menu-item-vertical-text {
  transform: rotate(90deg);
    float: left;
    color: #3c4ba7;
    font-size: 550%;
    text-transform: uppercase;
}


/* Horizontal Menu Item text for Homepage */
.menu-item-horizontal-text {
    color: #3c4ba7;
    text-transform: uppercase;
    font-size: 350%;
}

@media only screen and (max-width: 28.75em) {
  .menu-item-horizontal-text {
   font-size: 250%;
  }
}


/*Animate menu*/
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;	
      animation-duration: 1s;	
      -webkit-animation-duration: 1s;
      visibility: visible;			
  }
  
    @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }	
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

.menu-item {
    padding-top: 10%;
    padding-bottom: 10%;
}

.menu-item-gray {
    background-color: #eee;
}

/*Style for read more div*/
.read-more {
    color: #3c4ba7;
    text-align: center;
}

.fourColumns {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.div-homepage {
  padding-top: 10%;
}

#opinions {
    padding: 200px 0;
}


#statut {
    background: #eee;
}

body > footer {
    padding: 40px 0;
}
/*Sign in - Login form*/
.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.languages-box {
  padding-bottom: 15px;
}
/* 5 columns */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/* Select css */
select {
   
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



/*Dashboard hover*/

    .form_hover {
        padding: 0px;
        position: relative;
        overflow: hidden;
        height: 200px;
    }

        .form_hover:hover .header {
            opacity: 1;
            transform: translateY(-172px);
            -webkit-transform: translateY(-172px);
            -moz-transform: translateY(-172px);
            -ms-transform: translateY(-172px);
            -o-transform: translateY(-172px);
        }

        .form_hover img {
            z-index: 4;
        }

        .form_hover .header {
            position: absolute;
            top: 320px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
            width: 100%;
        }

        .form_hover .blur {
            height: 240px;
            z-index: 5;
            position: absolute;
            width: 100%;
        }

        .form_hover .caption-text {
            z-index: 10;
            color: #fff;
            position: absolute;
            height: 240px;
            text-align: center;
            top: -20px;
            width: 100%;
        }
        
        .form_hover .panel-footer {
        	background-color: #3c4ba7;
        	color: #fff;
        }
        
/*Styling for buttons */
.btn {
    display: inline-block;
    padding: .5em .75em .375em .75em;
    border-style: solid;
    border-width: 2px;
    border-radius: 0;
    cursor: pointer;
    font-family: "simplon","Helvetica","Arial",sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    -webkit-transition: all,0.4s;
    -moz-transition: all,0.4s;
    transition: all,0.4s;
}
.btn-primary {
	background-color: transparent;
	color:  #3c4ba7;
	border-color:  #3c4ba7;
}

.btn-primary:hover {
    border-color: #3c4ba7;
    color: #fff;
}

.btn-info {	
    color: #fff;
    background-color: #3c4ba7;
    border-color: #3c4ba7;
}

.btn-info:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

/*Styligin for divs into issue*/
.opinions_issue_panel {
	font-size: 14px;
	border-color: transparent;
}

.opinions_issue_panel .panel-heading {
	font-size: 14px;
	background-color: transparent;
	border-color: transparent;
}

.opinion-contributor {
	color: #3c4ba7;
	font-weight: bold;
}

.opinion-created_at {
	color: black;
	font-weight: bold;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

/*Sprite for homepage */
.sprite.headerLogo { 
	background-image:url('../img/headerLogo.png'); 
	width: 385px; 
	height: 109px; 
}


.small-headerLogo {
	background-image:url('../img/small-headerLogo.png'); 
	height: 60px;
	width: 230px;
	float: left;
  }
}

.sprite { background: url('../img/sprites/homepage.png') no-repeat top left; width: 30px; height: 16px;  } 
 
.sprite.languages { background-position: 0 -119px; width: 69px; height: 55px; } 
.sprite.readMore { background-position: 0 -184px; width: 65px; height: 35px; } 
.sprite.readMoreGray { background-position: 0 -229px; width: 66px; height: 30px; } 
.sprite.upVote { background-position: 0 -269px; } 
.sprite.downVote { background-position: 0 -295px; } 