{% extends "magazine/layout.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">    
	<div class="row">
		<div class="col-sm-9">
      		<div class="row">
      		{% if issue_is_pending == True %}
      			<div class="alert alert-success" role="alert">
      			<h3>{% trans "Well done! Your opinions are being revised to be published soon!" %}</h3>
      			</div>
      		{% else %}
      		<h3>{% trans "Propose an opinion to be voted" %}</h3>
      			<div class="row">					
		      		<div class="col-sm-12">
				      <div class="panel panel-default">
				      <div class="panel-body">
						<h2>{% trans "New Opinion" %}</h2>
						{% if form.errors %}
						    {% for field in form %}
						        {% for error in field.errors %}
						            <div class="alert alert-danger">
						                <strong>{{ error|escape }}</strong>
						            </div>
						        {% endfor %}
						    {% endfor %}
						    {% for error in form.non_field_errors %}
						        <div class="alert alert-danger">	
						            <strong>{{ error|escape }}</strong>
						        </div>
						    {% endfor %}
						{% endif %}	
						<form action="." method="post">{% csrf_token %}
						    {{ form }}
						    <div>
						        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Propose Opinion" %}</button>
						    </div>
						</form>
						</div>
					  </div>
      				</div>
       	    	</div>
       	    	{% endif %}
       	    	<div class="row">
       	    	{% for opinion in opinions %}
       	    		<div class="col-sm-3">
			          <div class="well">
			           <p>{% trans "Votes: " %}</p>
			           <!-- # TODO: Refactor not to make a for here!   -->
			           {% for opinion_vote in opinion.opinion_vote_set.all %}
				           {% if opinion_vote.contributor_id = contributor_id %}
				           <h3><span class="label label-success">{% trans "You voted " %} {{ opinion_vote.vote }}</span></h3>				           
				           {% endif %}
			           {% endfor %}
			           
			           <a href="{% url 'vote_view' opinion.issue_id opinion.id 'up'%}">
			           <img class="sprite upVote"/>
			           </a>			           
			           <h3><span class="label label-warning">{{ opinion.get_votes_count }}</span></h3>
			           <a href="{% url 'vote_view' opinion.issue_id opinion.id 'down'%}">
			           <img class="sprite downVote"/>
			           </a>
			          </div>
        			</div>
			        <div class="col-sm-9">
			          <div class="panel panel-default">
				          <div class="panel-heading">
				          	<span class="label label-primary">{% trans "By: " %} {{opinion.contributor.get_short_name}}</span>
				          	<span class="label label-success">{{opinion.created_at}}</span>
				          </div>
				          <div class="panel-body">
				          <p>{{opinion.content}}</p>
				          </div>
			          </div>
			        </div>
			      {% endfor %}
			      </div>
      		</div>
      		
    	</div>
    <div class="col-sm-3">
    	<div class="panel panel-danger">
    	<div class="panel-heading"><h3 class="panel-title">{% trans "Rules" %}</h3></div>
      	</div>
      	<ul class="list-group">
  			<li class="list-group-item ">{% trans "All content must be original. Unoriginal or reposted content will be removed." %}</li>
			<li class="list-group-item">{% trans "No puns/wordplay." %}</li>
  			<li class="list-group-item ">{% trans "All content must be original. Unoriginal or reposted content will be removed." %}</li>
			<li class="list-group-item  ">{% trans "No puns/wordplay." %}</li>
		</ul>	
    </div>
  </div>
</div>
	
{% endblock %}