{% extends "opinion/opinion_view.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% block content %}

{% block breadcrumbs %}
{% clear_breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "Opinion" "read_opinion_view" issue_id article_id %}
{% endblock %}

{% render_breadcrumbs %}

{% load wysiwyg %}

<div class="container text-center">    
	<div class="row">
		<div class="col-sm-12">
      		<div class="row">
       	    	<div class="row">

			        <div class="col-sm-12">
			          <div class="panel panel-default opinions_issue_panel">
				          <div class="panel-heading text-left">
				          	<span class="opinion-contributor">{% trans "By: " %} {{article.contributor.get_short_name}}</span>
				          	<span class="opinion-created_at">| {{article.created_at|date:"M d'y "}}</span>
				          	{% include "opinion/vote_opinion_view.html" with article=article user_voted=user_voted total_votes=total_votes is_user_opinion=is_user_opinion%}
				          </div>
				          <div class="panel-body text-left">
				          <p>{{ article.content |safe }}</p>
				          </div>
			          </div>
			        </div>

			      </div>
      		</div>
      		
    	</div>
  </div>
</div>
	
{% endblock %}