{% extends "magazine/layout.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">    
  <div class="row">
    <div class="col-sm-2">
    </div>
    
	<div class="col-sm-8">
    
      <div class="row">
        <div class="col-sm-12">
		<h3>{% trans "Check the issues currently in progress to be published!" %}</h3>
		<h3>{% trans "Or" %}</h3>
		<a class="btn btn-primary" href="{% url 'new_issue_view' %}">{% trans "Propose an isue!" %}</a>
        </div>
      </div>
      
      <div class="row">
      {% for issue in issues %}
        <div class="col-sm-4">
          <div class="panel panel-default">
	          <div class="panel-heading">{{issue.title}}</div>
	          <h3><a class="btn btn-success" href="{% url 'issue-view' issue.id %}">{% trans "Join!" %}</a></h3>
	          <p>
	          <span class="label label-success">{% trans "Proposed articles" %} {{issue.article_set.count}}</span>
	          <span class="label label-default">{% trans "Proposed opinions" %} {{issue.opinion_set.count}}</span>
	          <span class="label label-primary">{% trans "Contributors" %} {{issue.issue_users.count}}</span> 
	          <span class="label label-info">{% trans "Created at" %} {{issue.created_at|date:"M d'y "}}</span>
	          </p>
          </div>
        </div>
      {% endfor %}
      </div>
      
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
	
{% endblock %}