{% extends "magazine/layout.html" %}
{% load i18n %}
{% block content %}

<div class="container text-center">    
  <div class="row">
	<div class="col-sm-12">
    
      <div class="row">
      {% if issues_current_user %}
      	<div class="col-sm-12">
      	
		<h3>{% trans "My issues" %}</h3>   
        </div>
        {% include "dashboard/single_issue_view.html" with issues=issues_current_user %}
         {% endif %}
      
        <div class="col-sm-12">
		<h3>{% trans "Check the issues currently in progress to be published!" %}</h3>
        </div>
      </div>
      {% include "dashboard/single_issue_view.html" with issues=issues %}
      
    </div>
  </div>
</div>
	
{% endblock %}