{% load i18n %}
<div class="row">
    <div class="col-md-12">
        <div class="col-sm-3">
            <div class="panel sample-room prisons panel-default form_hover">
                <div class="panel-body">
                    <h2><a href="/en/issue/4/">Prisons in Europe</a></h2>
                </div>
                <div class="header">
                    <div class="panel-footer">
                        <h5>And the point is..</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel sample-room tuition-fees panel-default form_hover">
                <div class="panel-body">
                    <h2><a href="/en/issue/3/">Study Fees in Europe</a></h2>
                </div>
                <div class="header">
                    <div class="panel-footer">
                        <h5>What I think is that the fees are ...</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel sample-room democratic panel-default form_hover">
                <div class="panel-body">
                    <h2><a href="/en/issue/2/">Democratic cities</a></h2>
                </div>
                <div class="header">
                    <div class="panel-footer">
                        <h5>The other day I read this article ...</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel create-room panel-default form_hover">
                <div class="panel-body">
                    <h2><a href="/en/issue/4/">New room</a></h2>
                    <h2 style="font-size:60px;"><a href="">+</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination">
        <li>
            {% if issues.has_previous %}
            <a href="?page={{ issues.previous_page_number }}">{% trans "Previous" %}</a>
            {% endif %}
        </li>
        <li>
            {% if issues.has_next %}
            <a href="?page={{ issues.next_page_number }}">{% trans "Next" %}</a>
            {% endif %}
        </li>
    </ul>
</nav>