{% load i18n %}
<div class="row">
	<div class="col-md-12">
	{% for issue in issues %}
	<div class="col-sm-3">
		<div class="panel panel-default form_hover">
			<div class="panel-body">
				<h2><a href="{% url 'issue_view' issue.id %}">{{issue.title}}</a></h2>
				<p>
					<span>{% trans "Contributors" %} </span> <span class="label label-primary"> {{issue.issue_contributors.count}}</span>
					<span>{% trans "Comments" %} </span> <span class="label label-primary">{{issue.comment_set.count}}</span>
					<span class="label label-success">{% trans "Proposed articles" %} {{issue.article_set.count}}</span>
					<span class="label label-default">{% trans "Proposed opinions" %} {{issue.opinion_set.count}}</span>
				</p>
			</div>
			<div class="header">
				<div class="panel-footer">
					{% if issue.comment_set.last.content %}
					<h5>{{issue.comment_set.last.content|truncatewords:10 }}</h5>
					{% else %}
					<h5>{% trans "Be te first one to write a comment!" %}</h5>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	</div>
</div>
      
      <nav>
      <ul class="pagination">
    	<li>
        {% if issues.has_previous %}
            <a href="?page={{ issues.previous_page_number }}">{% trans "Previous" %}</a>
        {% endif %}
		</li>
		<li>
        {% if issues.has_next %}
            <a href="?page={{ issues.next_page_number }}">{% trans "Next" %}</a>
        {% endif %}
    	</li>
	  </ul>
	  </nav>